<head>
    <style>
      .b {
        background-color: #BBDEFB;
        padding: 10px 20px;
      }
    </style>
</head>

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Main Projects</h3>
    {% if page.title == "Home" %}
      
    <h4 class="b" id="u2net_portrait_sketch"><A href = "https://github.com/HyeongminMoon/U-2-Net_portrait_sketch">(2021) Portrait sketch by improving segmentation model</A></h4>
  </div>
</div>

<h4 class="b" id="chinese">(2021) AI Chinese Calligraphy Teacher (인공훈장)</h4>    
<div class="row g-5 mb-5">
    <div class="col-md-6">
        <br> </br>
        <h5> Introduction </h5>
        <p> - This is a project that reveals my development philosophy. </p>
        <p> - Before starting this project, we didnt consider how to develop a program, we considered <b>how to solve a problem</b>. </p>
        <p> - So we met calligrapher several times, and asked what he need from the perspective of <b>teaching/learning calligraphy</b></p>
        <p> - Calligraphy has both artistic and academic meanings. </p>
        <p> - In fact, when evaluating calligraphy in a calligraphy contest, it is included that an evaluation of which typeface was reproduced in the past. </p>
    </div>
    <div class="col-md-6">
        meet professor image
        <img src="https://user-images.githubusercontent.com/32811724/147175911-a20f1c23-6dbc-457c-978a-feafa7071c44.jpg" width="90%"></img>
        <div style="text-align:center"> Various style of Calligraphy </div>
    </div>
</div>
<div class="row g-5 mb-5">
    <div class="col-md-6">
        <img src="https://user-images.githubusercontent.com/32811724/147175816-bca1fd7a-4d96-44d6-ba9c-f234ee27510c.jpg" width="90%"></img>
    </div>
    <div class="col-md-6">
        <h5> Model Separation </h5>
        <p> - We sparated models by appearance model that predict what is the character is, and semantic model that evaluate how much the character resembled to the old challigrapher's characters </p>
        <br> </br>
        <h5> Data Collection </h5>
        <p> - CharactersTrimPad28: 15,000,000 of character dataset, used for training appearance model</p>
        <p> - Kaggle Chinese Calligraphy styles by Calligraphers: a dataset with handwritings of 20 famous old challigraphers, used for training semantic model</p>
    </div>
</div>
<div class="row g-5 mb-5">
    <div class="col-md-6">
        <h5> Training Models </h5>
        <p> - By above datasets, we trained two models based on CNN </p>
        <br> </br>
        <h5> Results </h5>
        <p> Appearance model - Precision 98.9%, F1 score 98.4%</p>
        <p> Semantic model - Precision 98.5%, F1 score 99.0%</p>
        <br> </br>
        <h5> Presentation video </h5>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/v7sp5i0UEQI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>
    <div class="col-md-6">
        <img src="https://user-images.githubusercontent.com/32811724/147175817-221effa6-9729-4c47-a386-50c2fba399fa.jpg" width="90%"></img>
        <img src="https://user-images.githubusercontent.com/32811724/147175818-a14b4694-d217-41e1-a2ab-de2788f68a64.jpg" width="90%"></img>
    </div>
</div>
    
    
    
    
    
    
    
    
    
    
    
<h4 class="b" id="frcnn"><A href = "https://github.com/HyeongminMoon/FRCNN_trademark_similarity">(2020) Rank search by image similarity and multi label classification </A></h4>


<h5> Multi label classification </h5>
<p> - One of the difficult trademark's feature is figurative. It could be expressed like "the heart shaping cat", "the S shaping chicken", 
    etc. </p>
<p> - And trademarks are classificated by ViennaCodes, but It couldn't explain the all image appearance.</p>
<p> - So we need to make new classification table based on ViennaCodes.</p>
<p> - We tried to contain the all feature but some are removed due to accuracy. </p>
<p> - For example, the trademarks' viennacodes distribution is not flat because many trademark contain a Creature.</p>
<div style="text-align:left">
<h6> result samples </h6>
<p><br><img src="https://user-images.githubusercontent.com/32811724/147175829-eca9976a-840c-4c90-be47-417d95fb9dcc.jpg" width="20%" title="det1" alt="det1"></img>
<img src="https://user-images.githubusercontent.com/32811724/147175831-64ffea5f-4f69-4348-bbea-3eea60051e3f.jpg" width="20%" title="det2" alt="det2"></img>
<img src="https://user-images.githubusercontent.com/32811724/147175832-6a53944e-3605-420e-8e9b-3692a3a6fa86.jpg" width="20%" title="det3" alt="det3"></img><br/></p>
</div>

<div class="row g-5 mb-5" style="text-align:left">
    <div class="col-md-6">
        <br> </br>
        <h5> Cosine Similarity </h5>
        <p> - We transfer learned pretrained model efficientnet-b0 with triplet loss. </p>
        <p> - To attach triplet loss, we made triple pair dataset by above ViennaCode based trademark classification rules, 
            select two **Similar** images which has same label and one **Different** images which is selected randomly </p>
        <p> - And we calculated the Cosine Similarity from it's final fully connected vectors.</p>

        <h5> Image Similarity </h5>
        <p> - And again we mixed the results with above multi label classification score. </p>
        <p> - Finally we got final Image Similarity score </p>
    </div>
    <div class="col-md-6">
        <br><img src="https://user-images.githubusercontent.com/32811724/147176073-92a8454d-9985-444d-b262-f7dfd4e51bd1.png" width="49%"></img>
        <img src="https://user-images.githubusercontent.com/32811724/147176079-8fce7cc7-5017-4ead-9c3b-649fd01e1a67.png" width="49%"></img></br>
        <br><img src="https://user-images.githubusercontent.com/32811724/147176080-073d99c5-0941-4394-bc08-d59c4fd16fd1.png" width="49%"></img>
        <img src="https://user-images.githubusercontent.com/32811724/142619840-5c51e3bb-9ec6-44ee-a3bc-63b35ebf0211.png" width="49%"></img></br>
    </div>
</div>

<div class="row g-5 mb-5">
    <div class="col-md-6">
        <img src="https://user-images.githubusercontent.com/32811724/142619590-b5fa63a2-6b15-4720-9d99-cbd15fddc3c7.png" width="90%">
        <img src="https://user-images.githubusercontent.com/32811724/142619604-3c5aeaad-fa1d-4b18-b169-804314554c2e.png" width="90%">
    </div>
    <div class="col-md-6">
        <br> </br>
        <h5> Similar trademark searching service </h5>
        <p> As an application of this repository, we made a Similar trademark seraching service. </p>
        <br> </br>
        <h5> Patent </h5>
        <A href = "https://doi.org/10.8080/1020200181271">Patent METHOD OF SEARCHING TRADEMARKS AND APPARATUS FOR SEARCHING TRADEMARKS</A>
    </div>
</div>

<div class="row g-5 mb-5" style="text-align:left">
<hr width = "90%" color = "black">
<h5> Project Links </h5>
      {% for item in site.data.publications.featured %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
    {% else %}
      includes publications.html
      {% for item in site.data.publications.index %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
    {% endif %}
</div>
