<head>
    <style>
      .b {
        background-color: #BBDEFB;
        padding: 10px 20px;
      }
    </style>
</head>

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Main Projects</h3>
    {% if page.title == "Home" %}
      
  </div>
</div>

<h4 class="b" id="u2net_portrait_sketch"><A href = "https://github.com/HyeongminMoon/U-2-Net_portrait_sketch">(2021) Portrait sketch by improving segmentation model</A></h
    



<h4 class="b" id="frcnn"><A href = "https://github.com/HyeongminMoon/FRCNN_trademark_similarity">(2020) Rank search by image similarity and multi label classification </A></h4>

<div class="row g-5 mb-5">
<h5> Multi label classification </h5>
<p> - One of the difficult trademark's feature is figurative. It could be expressed like "the heart shaping cat", "the S shaping chicken", 
    etc. </p>
<p> - And trademarks are classificated by ViennaCodes, but It couldn't explain the all image appearance.</p>
<p> - So we need to make new classification table based on ViennaCodes.</p>
<p> - We tried to contain the all feature but some are removed due to accuracy. </p>
<p> - For example, the trademarks' viennacodes distribution is not flat because many trademark contain a Creature.</p>
</div>
<div style="text-align:left">
<h6> result samples </h6>
<p><br><img src="https://user-images.githubusercontent.com/32811724/147175829-eca9976a-840c-4c90-be47-417d95fb9dcc.jpg" width="20%" title="det1" alt="det1"></img>
<img src="https://user-images.githubusercontent.com/32811724/147175831-64ffea5f-4f69-4348-bbea-3eea60051e3f.jpg" width="20%" title="det2" alt="det2"></img>
<img src="https://user-images.githubusercontent.com/32811724/147175832-6a53944e-3605-420e-8e9b-3692a3a6fa86.jpg" width="20%" title="det3" alt="det3"></img><br/></p>
</div>

<div class="row g-5 mb-5" style="text-align:left">
    <div class="col-md-6">
        <br> </br>
        <h5> Cosine Similarity </h5>
        <p> - We transfer learned pretrained model efficientnet-b0 with triplet loss. </p>
        <p> - To attach triplet loss, we made triple pair dataset by above ViennaCode based trademark classification rules, 
            select two **Similar** images which has same label and one **Different** images which is selected randomly </p>
        <p> - And we calculated the Cosine Similarity from it's final fully connected vectors.</p>

        <h5> Image Similarity </h5>
        <p> - And again we mixed the results with above multi label classification score. </p>
        <p> - Finally we got final Image Similarity score </p>
    </div>
    <div class="col-md-6">
        <br><img src="https://user-images.githubusercontent.com/32811724/147176073-92a8454d-9985-444d-b262-f7dfd4e51bd1.png" width="49%"></img>
        <img src="https://user-images.githubusercontent.com/32811724/147176079-8fce7cc7-5017-4ead-9c3b-649fd01e1a67.png" width="49%"></img></br>
        <br><img src="https://user-images.githubusercontent.com/32811724/147176080-073d99c5-0941-4394-bc08-d59c4fd16fd1.png" width="49%"></img>
        <img src="https://user-images.githubusercontent.com/32811724/142619840-5c51e3bb-9ec6-44ee-a3bc-63b35ebf0211.png" width="49%"></img></br>
    </div>
</div>

<div class="row g-5 mb-5">
    <div class="col-md-6">
        <img src="https://user-images.githubusercontent.com/32811724/142619590-b5fa63a2-6b15-4720-9d99-cbd15fddc3c7.png" width="90%">
        <img src="https://user-images.githubusercontent.com/32811724/142619604-3c5aeaad-fa1d-4b18-b169-804314554c2e.png" width="90%">
    </div>
    <div class="col-md-6">
        <br> </br>
        <h5> Similar trademark searching service </h5>
        <p> As an application of this repository, we made a Similar trademark seraching service. </p>
        <br> </br>
        <h5> Patent </h5>
        <A href = "https://doi.org/10.8080/1020200181271">Patent METHOD OF SEARCHING TRADEMARKS AND APPARATUS FOR SEARCHING TRADEMARKS</A>
    </div>
</div>
